.team-cards{
    @extend %flex-spaceb;
    padding-top: 80px;

    &__person{
        position: relative;
    }
    
    &__person--hover:hover{
        -webkit-transform: translate(-10px, -10px);
            -ms-transform: translate(-10px, -10px);
                transform: translate(-10px, -10px);
        -webkit-box-shadow: 10px 10px 0 0 rgba(149, 225, 211, 0.9);
                box-shadow: 10px 10px 0 0 rgba(149, 225, 211, 0.9);
        -webkit-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease; 
    }
}