@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-slab-v8-latin-regular.woff2') format('woff2'), 
         url('../fonts/roboto-slab-v8-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/dancingscript-bold-webfont.woff2') format('woff2'), 
         url('../fonts/dancingscript-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-slab-v8-latin-700.woff2') format('woff2'), 
         url('../fonts/roboto-slab-v8-latin-700.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'), 
         url('../fonts/montserrat-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Oleo Script';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/OleoScript-Regular.woff2') format('woff2'), 
         url('../fonts/OleoScript-Regular.woff') format('woff');
}

html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: border-box;
}

a{
    display: block;
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

ul{
    list-style: none;
}

.container{
    width: 940px;
    margin: 0 auto;
}

:root{
    --yellow: rgb(254, 209, 54);
    --black: rgb(34, 34, 34);
    --grey: rgba(119, 119, 119);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 115px;
}

.h1{
    font-family: 'Dancing Script', serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}

.h1 a{
    color: var(--yellow);
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.menu-li{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}

.menu-li:not(:last-child){
    padding-right: 40px;
}

.menu-a{
    color: var(--black);
}

.menu-li:hover .menu-a,
.menu-a:focus{
    color: var(--yellow);
}

.main{
    padding: 72px 0 120px;
    color: var(--black);
}

.services{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

.signature{
    font-family: 'Oleo Script', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: rgba(119, 119, 119, 0.6);
    padding-top: 15px;
    text-align: center;
}

.services-scope{
    display: flex;
    flex-wrap: wrap;
    padding-top: 82px;
}

.service{
    width: 274px;
}

.service:not(:nth-child(3n)){
    margin-right: 56px;
}

.services-name{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-align: center;
}

.services-name::before{
    content: '';
    display: block;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    padding: 34px;
    border: 3px solid var(--yellow);
    border-radius: 50%;
    background-position: center;
    margin: 0 auto 28px;
}

.services-name:nth-child(1)::before{
    background-image: url(../img/1Icon-Basket@1X.png);
}

.services-name:nth-child(2)::before{
    background-image: url(../img/2Icon-Laptop@1X.png)
}

.services-name:nth-child(3)::before{
    background-image: url(../img/3Icon-Locked@1X.png);
}

.services-text{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: justify;
    padding-top: 18px;
    line-height: 150%;
    color: var(--grey);
}

.footer{
    background-color: var(--black);
    min-height: 672px;
    display: flex;
    color: #fff;
}