@font-face {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v13-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v13-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v19-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v19-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v19-latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v19-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: local('Kaushan Script'), local('KaushanScript-Regular'),
         url('../fonts/kaushan-script-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/kaushan-script-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*{
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

a{
    display: block;
    text-decoration: none;
}

ul{
    list-style: none;
}

h3{
    text-transform: uppercase;
}

:root{
    --green: rgb(149, 225, 211);
    --red: rgb(243, 129, 129);
    --yellow: rgb(252, 227, 138);
    --montserrat: 'Montserrat', sans-serif;
    --roboto: 'Roboto', sans-serif;
}

.header{
    min-height: 900px;
    background-image: 
        -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.9)), to(rgba(252, 227, 138, 0.9))), 
        url('../img/cover@1X.png');
    background-image: 
        -webkit-linear-gradient(top, rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9)), 
        url('../img/cover@1X.png');
    background-image: 
        -o-linear-gradient(top, rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9)), 
        url('../img/cover@1X.png');
    background-image: 
        linear-gradient(to bottom, rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9)), 
        url('../img/cover@1X.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx){
    .header{
        background-image: 
            -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.9)), to(rgba(252, 227, 138, 0.9))), 
            url('../img/cover@2X.png');
        background-image: 
            -webkit-linear-gradient(top, rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9)), 
            url('../img/cover@2X.png');
        background-image: 
            -o-linear-gradient(top, rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9)), 
            url('../img/cover@2X.png');
        background-image: 
            linear-gradient(to bottom, rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9)), 
            url('../img/cover@2X.png');
    }
}

.navigation{
    font-family: var(--montserrat);
    font-weight: 700;
    min-height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.logo{
    color: #ffffff;
    font-size: 30px;
    text-align: left;
}

.menu{
    min-width: 622px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.menu__section{
    font-size: 14px;
    text-transform: uppercase;
    height: 24px;
    padding: 0 20px;
}

.menu__section:first-child{
    padding-left: 0;
}

.menu__link{
    color: #ffffff;
}

.menu__section:hover .menu__link,
.menu__section:focus .menu__link{
    padding-bottom: 10px;
    color: var(--yellow);
    border-bottom: 2px solid var(--yellow);
}

.menu__section--icon{
    padding: 10px 15px 19px;
}

.icon{
    fill: #ffffff;
}

.menu__section--icon:hover .icon,
.menu__section--icon:focus .icon{
    fill: var(--yellow);
}

.header__title{
    font-family: 'Kaushan Script', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    text-align: center;
    padding-top: 120px;
}

.header__welcoming, .header__button{
    font-family: var(--montserrat);
    font-style: normal;
    font-weight: 700;
    text-align: center;
    line-height: 100%;
    text-transform: uppercase;
}

.header__welcoming{
    font-size: 150px;
    padding-top: 32px;
}

.header__button{
    font-size: 14px;
    border-style: none;
    background-color: unset;
    color: #fff;
    padding: 14px 34px;
    border: 3px solid #ffffff;
    margin-top: 92px;
}

.main{
    padding-top: 110px;
    padding-bottom: 82px;
}

.services__title--small{
    display: block;
    font-family: 'Kaushan Script', sans-serif;
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 22px;
}

.services__title{
    text-align: center;
    font-family: var(--montserrat);
    font-size: 30px;
    color: rgba(51, 51, 51, 255);
    font-weight: 700;
}

.services__title::after{
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--red);
    margin: 42px auto 0;
}

.services-cards{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 76px;
}

.services-cards__service{
    -ms-flex-preferred-size: 380px;
        flex-basis: 380px;
    padding-left: 80px;
    position: relative;
}

.services-cards__service:not(:nth-last-child(-n + 3)){
    margin-bottom: 74px;
}

.services-cards__service::before{
    position: absolute;
    left: 24px;
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background: no-repeat center;
}

.services-cards__service:nth-child(1)::before{
    background-image: url(../img/svg/alarm.svg);
}

.services-cards__service:nth-child(2)::before{
    background-image: url(../img/svg/line-graph.svg);
}

.services-cards__service:nth-child(3)::before{
    background-image: url(../img/svg/computer.svg);
}

.services-cards__service:nth-child(4)::before{
    background-image: url(../img/svg/book.svg);
}

.services-cards__service:nth-child(5)::before{
    background-image: url(../img/svg/home.svg);
}

.services-cards__service:nth-child(6)::before{
    background-image: url(../img/svg/image.svg);
}

.card__title{
    font-family: var(--montserrat);
    font-size: 14px;
    color: rgba(51, 51, 51, 255);
    font-weight: 700;
    padding-bottom: 20px;
}

.card__text{
    font-family: var(--roboto);
    font-size: 15px;
    color: rgba(153, 153, 153, 255);
    font-weight: 400;
    line-height: 150%;
}

.team{
    padding-top: 92px;
}

.team__title{
    font-family: var(--montserrat);
    font-size: 30px;
    color: rgba(51, 51, 51, 255);
    font-weight: 700;
    text-align: center;
}

.team__title--small{
    display: block;
    font-family: 'Kaushan Script', sans-serif;
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 22px;
}

.team__title::after{
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--red);
    margin: 42px auto 0;
}

.team__text{
    font-family: var(--roboto);
    font-size: 15px;
    color: rgba(153, 153, 153, 255);
    text-align: center;
    font-weight: 400;
    line-height: 150%;
    padding-top: 46px;
}

.team-cards{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 80px;
}

.team-cards__person{
    position: relative;
}

.team-cards__person--hover:hover{
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
    -webkit-box-shadow: 10px 10px 0 0 rgba(149, 225, 211, 0.9);
            box-shadow: 10px 10px 0 0 rgba(149, 225, 211, 0.9);
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; 
}

.social{
    position: absolute;
    top: 0;
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(243, 129, 129, 0.0)),to(rgba(252, 227, 138, 0.0)));
    background-image: -webkit-linear-gradient(top,rgba(243, 129, 129, 0.0),rgba(252, 227, 138, 0.0));
    background-image: -o-linear-gradient(top,rgba(243, 129, 129, 0.0),rgba(252, 227, 138, 0.0));
    background-image: linear-gradient(to bottom,rgba(243, 129, 129, 0.0),rgba(252, 227, 138, 0.0));
    width: 383px;
    height: 473px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.team-cards__person--hover:hover .social{
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(243, 129, 129, 0.9)),to(rgba(252, 227, 138, 0.9)));
    background-image: -webkit-linear-gradient(top,rgba(243, 129, 129, 0.9),rgba(252, 227, 138, 0.9));
    background-image: -o-linear-gradient(top,rgba(243, 129, 129, 0.9),rgba(252, 227, 138, 0.9));
    background-image: linear-gradient(to bottom,rgba(243, 129, 129, 0.9),rgba(252, 227, 138, 0.9));
}

.social__network{
    background: rgb(252, 227, 138) no-repeat center;
    opacity: 0;
}

.team-cards__person--hover:hover .social__network{
    opacity: 1;
}

.social__network:not(:last-child){
    border-right: 1px solid var(--red);
}

.social__network:hover,
.social__network:focus{
    background-color: var(--red);
}

.social__network:hover .network__icon,
.social__network:focus .network__icon{
    fill: #fff;
}

.social__network a{
    width: 56px;
    height: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.network__icon{
    fill: var(--red);
}

.person__name{
    font-family: var(--montserrat);
    font-size: 14px;
    color: rgba(51, 51, 51, 255);
    text-align: center;
    font-weight: 700;
    padding-top: 40px;
}

.person__position{
    display: block;
    font-family: var(--roboto);
    font-style: italic;
    font-size: 14px;
    color: rgba(153, 153, 153, 255);
    text-align: center;
    font-weight: 300;
    padding-top: 15px;
}

.footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; 
    -webkit-box-align: center; 
        -ms-flex-align: center; 
            align-items: center;
    border-top: 1px solid rgb(236, 236, 236);
    min-height: 62px;
}

.footer__text{
    font-family: var(--montserrat);
    font-weight: 400;
    font-size: 14px;
    color: rgba(51, 51, 51, 255);
    text-align: center;
}

.footer__text--red{
    color: var(--red);
}

.footer__form{
    display: flex;
}

input[type="email"]{
    font-family: var(--roboto);
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    color: rgba(204, 204, 204, 255);
    width: 230px;
    height: 40px;
    text-indent: 12px;
    border: 1px solid rgb(236, 236, 236);

}

input[type="submit"]{
    font-family: var(--montserrat);
    font-weight: 700;
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    width: 150px;
    height: 40px;
    background-color: var(--green);
    border-style: none;
}