@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600i,700|Roboto:300,700');
@import url("https://use.typekit.net/qpo5kyx.css");

html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: border-box;  
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.container{
    width: 1110px;
    margin: 0 auto;
}

.header{
    padding-top: 34px;
    padding-bottom: 34px;
}

.logo-link{
    font-size: 0;
}

.logo-name{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: rgba(81, 81, 81, 255);
    text-align: left;
    font-weight: 300;
    text-transform: uppercase;
}

.logo-name::first-letter{
    color: rgba(26, 188, 156, 255);
    font-weight: 700;
}

.menu{
    width: 475px;
    list-style: none;
    font-size: 0;
    float: right;
}

.menu-item{
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 8px;
    color: rgba(81, 81, 81, 255);
}

.menu-item:not(:last-child){
    margin-right: 30px;
}

.menu-item a:hover,
.menu-item a:focus{
    color: rgba(26, 188, 156, 255);
}

.slider{
    margin: auto;
    font-size: 0;
    position: relative;
}

.slider-ctrl{
    display: inline-block;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 104px;
    height: 104px;
    background-color: #1abc9c;
    opacity: 0.6;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

.slider-ctrl-prev{
    left: 10%;
    background-image: url(../img/icons/prev.png);
}

.slider-ctrl-next{
    right: 10%;
    background-image: url(../img/icons/next.png);
}

.slider-ctrl:hover,
.slider-ctrl:focus{
    opacity: 1;
}

.slides{
    margin: 0;
    padding: 0;
    list-style: none;
}

.slides-item{
    position: relative;
}

.slides img{
    height: 700px;
    object-fit: cover;
    width: 100%;
    filter: brightness(0.5);
}

.slides-descr{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    font-size: 53px;
    color: #fff;
    text-align: left;
    font-weight: 700;
    }

.tours{
    font-size: 25px;
    font-weight: 300;
}

.main{
    background-color:#e9f0fd;
}

.new-collection{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    color: rgba(81, 81, 81, 255);
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 100px;
}

.new-collection::after{
    content: '';
    display: block;
    width: 164px;
    height: 6px;
    background-color: rgba(26, 188, 156, 255);
    margin: 32px auto 92px;
}

.products{
    list-style: none;
}

.product-card{
    position: relative;
    width: 255px;
    float: left;
    margin-bottom: 30px;
    font-size: 0;
}

.product-card:not(:nth-child(4n)){
    margin-right: 30px;
}

.opacity{
    position: absolute;
    width: 235px;
    height: 262px;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 255);
    opacity: 0.5;
}

.opacity-card{
}

.product-card:hover .opacity{
    opacity: 0.5;
}

.product-link{
    display: inline-block;
}

.card{
    width: 255px;
    background-position: center;
}

.price{
    font-size: 0;
}

.price-title{
    width: 200px;
    height: 40px;
    background-color: #323232;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 12px;
    padding-left: 14px;
    display: inline-block;
}

.price-cash{
    width: 55px;
    height: 40px;
    background-color: #8c8c8c;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    padding: 12px 15px 12px 10px;
    display: inline-block;
}

.product-card:hover .price-title,
.price-title:focus{
    background-color: #1abc9c;
}

.product-card:hover .price-cash,
.price-cash:focus{
    background-color: #7fd9c7;
}

footer{
    background-color: #323232;
}

.rights{
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(254, 254, 254, 255);
    text-align: center;
    padding: 38px 0;
}

.themengraph{
    color: #1abc9c;
}