@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Roboto:300i,400');

html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

a{
    display: block;
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

ul{
    list-style: none;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

h3{
    text-transform: uppercase;
}

:root{
    --green: rgb(149, 225, 211);
    --red: rgb(243, 129, 129);
    --montserrat: 'Montserrat', sans-serif;
    --roboto: 'Roboto', sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
}

.h1{
    font-family: var(--montserrat);
    font-size: 30px;
    color: var(--green);
    text-align: left;
    font-weight: 700;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.menu-li{
    font-family: var(--montserrat);
    font-size: 14px;
    color: var(--green);
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 29px 0;
    padding-bottom: 10px;
    height: 24px;
}

.menu-li:hover,
.menu-li:focus{
    border-bottom: 2px solid var(--red);
    color: var(--red);
}

.main{
    padding-top: 110px;
    padding-bottom: 82px;
}

.services-span{
    display: block;
    font-family: 'Kaushan Script', sans-serif;
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 22px;
}

.services{
    display: block;
    text-align: center;
    font-family: var(--montserrat);
    font-size: 30px;
    color: rgba(51, 51, 51, 255);
    font-weight: 700;
}

.services::after{
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--red);
    margin: 42px auto 0;
}

.services-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 76px 10px 0;
}

.services-cards-li{
    flex-basis: 380px;
    padding-left: 80px;
    position: relative;
}

.services-cards-li::before{
    position: absolute;
    left: 24px;
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
}

.services-cards-li:nth-child(1)::before{
    background-image: url(../img/1alarm.png);
}

.services-cards-li:nth-child(2)::before{
    background-image: url(../img/2line-graph.png);
}

.services-cards-li:nth-child(3)::before{
    background-image: url(../img/3computer.png);
}

.services-cards-li:nth-child(4)::before{
    background-image: url(../img/4book.png);
}

.services-cards-li:nth-child(5)::before{
    background-image: url(../img/5home.png);
}

.services-cards-li:nth-child(6)::before{
    background-image: url(../img/6image.png);
}

.services-name{
    font-family: var(--montserrat);
    font-size: 14px;
    color: rgba(51, 51, 51, 255);
    font-weight: 400;
    padding-bottom: 20px;
}

.services-text{
    font-family: var(--roboto);
    font-size: 15px;
    color: rgba(153, 153, 153, 255);
    font-weight: 400;
    line-height: 150%;
}

.section-two{
    padding-top: 92px;
}

.team{
    display: block;
    font-family: var(--montserrat);
    font-size: 30px;
    color: rgba(51, 51, 51, 255);
    font-weight: 700;
    text-align: center;
}

.team-span{
    display: block;
    font-family: 'Kaushan Script', sans-serif;
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 22px;
}

.team::after{
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--red);
    margin: 42px auto 0;
}

.team-text{
    font-family: var(--roboto);
    font-size: 15px;
    color: rgba(153, 153, 153, 255);
    text-align: center;
    font-weight: 400;
    line-height: 150%;
    padding-top: 46px;
}

.team-cards{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.team-cards-li{
    position: relative;
}

.social{
    position: absolute;
    width: 383px;
    height: 473px; 
    top: 0;
    background-image: linear-gradient(to bottom,rgba(243, 129, 129, 0.0),rgba(252, 227, 138, 0.0));
    box-shadow: 10px 10px 0 0 rgba(149, 225, 211, 0.0);
}

.team-cards-li:hover .person{
    transform: translate(-10px, -10px);
    background-image: linear-gradient(to bottom,rgba(243, 129, 129, 0.9),rgba(252, 227, 138, 0.9));
    box-shadow: 10px 10px 0 0 rgba(149, 225, 211, 0.9);
    transition: all 1s ease; 
}

.team-cards-li:hover .social{
    transform: translate(-10px, -10px);
    background-image: linear-gradient(to bottom,rgba(243, 129, 129, 0.9),rgba(252, 227, 138, 0.9));
    box-shadow: 10px 10px 0 0 rgba(149, 225, 211, 0.9);
    transition: all 1s ease; 
}

.social-icons{
    width: 383px;
    height: 473px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon-a{
    width: 56px;
    height: 56px;
    background: rgb(252, 227, 138) no-repeat center;
    opacity: 0;
}

.social-icon-a{
    border-right: 1px solid var(--red);
}

.team-cards-li:hover .social-icon-a{
    opacity: 1;
}

.social-icon-a:hover,
.social-icon-a:focus{
    background-color: var(--green);
}

.facebook{
    background-image: url(../img/social/1facebook.png);
}

.twitter{
    background-image: url(../img/social/2twitter.png);
}

.pinterest{
    background-image: url(../img/social/3pinterest.png);
}

.instagram{
    background-image: url(../img/social/4instagram.png);
}


.team-name{
    font-family: var(--montserrat);
    font-size: 14px;
    color: rgba(51, 51, 51, 255);
    text-align: center;
    font-weight: 400;
    padding-top: 40px;
}

.team-position{
    display: block;
    font-family: var(--roboto);
    font-style: italic;
    font-size: 14px;
    color: rgba(153, 153, 153, 255);
    text-align: center;
    font-weight: 300;
    padding-top: 15px;
}

.footer{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border-top: 1px solid rgb(236, 236, 236);
    min-height: 62px;
}

.footer-text{
    font-family: var(--montserrat);
    font-weight: 400;
    font-size: 14px;
    color: rgba(51, 51, 51, 255);
    text-align: center;
}

.footer-span{
    color: var(--red);
}

.send-email{
    display: flex;
}

input[type="email"]{
    font-family: var(--roboto);
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    color: rgba(204, 204, 204, 255);
    width: 230px;
    height: 40px;
    text-indent: 12px;
    border: 1px solid rgb(236, 236, 236);

}

input[type="submit"]{
    font-family: var(--montserrat);
    font-weight: 700;
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    width: 150px;
    height: 40px;
    background-color: var(--green);
    border-style: none;
}