@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600i,700|Roboto:300,700');

html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: border-box;  
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.container{
    width: 1110px;
    margin: 0 auto;
}

.header{
    padding-top: 40px;
    padding-bottom: 110px;
}

.logo-link{
    font-size: 0;
}

.logo-name{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: rgba(81, 81, 81, 255);
    text-align: left;
    font-weight: 300;
    text-transform: uppercase;
}

.logo-name::first-letter{
    color: rgba(26, 188, 156, 255);
    font-weight: 700;
}

.menu{
    width: 475px;
    list-style: none;
    font-size: 0;
    float: right;
}

.menu-item{
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 8px;
}

.menu-item a{
    color: rgba(81, 81, 81, 255);
}

.menu-item:not(:last-child){
    margin-right: 30px;
}

.menu-item a:hover,
.menu-item a:focus{
    color: rgba(26, 188, 156, 255);
}

.featured-products{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    color: rgba(81, 81, 81, 255);
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

.featured-products::after{
    content: '';
    display: block;
    width: 164px;
    height: 6px;
    background-color: rgba(26, 188, 156, 255);
    margin: 32px auto 92px;
}

.products{
    list-style: none;
}

.product-card{
    width: 255px;
    float: left;
    margin-bottom: 30px;
    font-size: 0;
}

.product-card:not(:nth-child(4n)){
    margin-right: 30px;
}

.product-link{
    display: inline-block;
}

.card{
    background-color: #e9f0fd;
    height: 282px;
    width: 255px;
    background-position: center;
}

.price{
    font-size: 0;
}

.price-title{
    width: 200px;
    height: 40px;
    background-color: #323232;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 12px;
    padding-left: 14px;
    display: inline-block;
}

.price-cash{
    width: 55px;
    height: 40px;
    background-color: #8c8c8c;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    padding: 12px 15px 12px 10px;
    display: inline-block;
}

.price:hover .price-title,
.price-title:focus{
    background-color: #1abc9c;
}

.price:hover .price-cash,
.price-cash:focus{
    background-color: #7fd9c7;
}

.latest-news{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    color: rgba(81, 81, 81, 255);
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 70px;
}

.latest-news::after{
    content: '';
    display: block;
    width: 164px;
    height: 6px;
    background-color: rgba(26, 188, 156, 255);
    margin: 32px auto 80px;
}

.article{
    float: left;
    width: 350px;
}

.article:not(:last-child){
    margin-right: 30px;
}

.article img{
    margin-bottom: 14px;
}

.article-name{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: rgba(85, 82, 82, 255);
    text-align: left;
    font-weight: 600;
    line-height: 150%;
}

.article-name::after{
    content: '';
    display: block;
    background-color: rgba(26, 188, 156, 255);
    width: 136px;
    height: 3px;
    margin: 10px 0 30px;
}

.article-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: rgba(85, 82, 82, 255);
    text-align: left;
    font-weight: 400;
    margin-bottom: 15px;
    line-height: 200%;
}

.read-more{
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    font-weight: 300;
    width: 160px;
    height: 50px;
    background-color: #4ec6ab;
    text-align: center;
    border-style: none;
    cursor: pointer;
    margin-bottom: 45px;
}